.footer {
    width: 100%;
    background: #fff;
    border-top: 1px solid #ececec;
    margin-top: 80px;
}

.footer-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 20px;

    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 80px;
    margin-bottom: 12px;
}

.footer-logo p {
    color: #555;
    margin-bottom: 8px;
}

.footer-logo span {
    color: #999;
    font-size: 14px;
}

.footer-links {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
}

.footer-links div {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-links h4,
.footer-social h4 {
    font-size: 18px;
    color: #111;
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #666;
    transition: .2s;
}

.footer-links a:hover {
    color: #0466a5;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.socials {
    display: flex;
    gap: 12px;
}

.socials a {
    width: 48px;
    height: 48px;

    border: 1px solid #dcdcdc;
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #0466a5;
    font-size: 20px;

    text-decoration: none;
    transition: .2s;
}

.socials a:hover {
    background: #0466a5;
    color: white;
    border-color: #0466a5;
}

@media (max-width: 900px) {

    .footer-container {
        flex-direction: column;
        gap: 40px;
    }

    .footer-links {
        gap: 40px;
    }

}